# Lesson 1: Input / Output, introduction to variables with Strings, Numbers, and Booleans
* Output with print()
* Handling String variables:
	* Adding Strings
* Input with input()
* Creating number variables
	* Adding, Subtracting, Multiplying and Dividing
* Adding Strings and Numbers:
	* Converting from string to integers and floats with int() and float()
	* Numbers to strings with str()
* Booleans:
	* Logical Operators - and, or, not
	* Conditional Operators - greater than, equal, less than or equal to, etc...

# Output

Use the print() function to print whatever you want. Make sure to use quotation marks around what you want to print

In [23]:
print("Hello World")

Hello World

# Variables

Variables hold data. This data can be held in different data types. In this lesson we go over three types: 

* Strings
* Numbers
* Booleans

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

## String Variables:

String Variables just hold human readable text

By default the line below does nothing

In [24]:
# Variable named name
name = "Rohit"

We can easily pass the variable name after initializing to see a result:

In [25]:
print(name)

Rohit

## More about variable names:

Legal variable names:

In [26]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Illegal Variable names

In [27]:
# Uncomment these and run to see it fail:
# 2myvar = "John"
# my-var = "John"
# my var = "John"

SyntaxError: ignored

### Adding strings together
You can add two or more strings together like this

In [ ]:
print("hello " + "world")

Practice: Make a variable called greeting that says hello before the name variable, and then print it

In [ ]:
greeting = "Hello " + name
print(greeting)

Practice: Make a variable called a and set it equal to the letter b and then print the variable

In [ ]:
a = "b"
print(a)

### Input:
input() is a function that returns you a string from the console. Test it out here:

In [ ]:
your_name = input()
print("Hello, " + your_name)

Rohit
Hello, Rohit

You can also put in a string inside input() to make the console print something on the line you type a response

In [ ]:
adjective = input("Put in an adjective here: ")
noun = input("Put in a noun here: ")

print("That is a really " + adjective + " " + noun)

Put in an adjective here: silly
Put in a noun here: string
That is a really silly string

Practice: Make an adlib game. Ask the user for different types of words and combine them to make a silly story. If you don't know what an adlib game is, try this website [here](https://www.mydigitalchalkboard.org/portal/default/Resources/Viewer/ResourceViewer?action=2&resid=53577)

## Numbers
Numbers are another data type in python. There are different types of numbers but the most important ones to know are:

* Integers - Numbers without decimals
* Floats - Numbers with decimals

Important thing to realize is that numbers do not have quotes surrounding them. Here are examples of each:

In [ ]:
my_integer = 1
my_float = 1.1
print(my_integer)
print(my_float)

1
1.1

### Manipulating Numbers

You can do regular math operations on numbers using +, -, *, and / to add, subtract, multiply and divide two numbers respectively

Since you can do these on numbers, you can also do them on number variables too

Try these out:

In [ ]:
print(5 + 3)
print(1 - 2)
print(2 * 3)
print(5 / 7)

In [ ]:
my_integer = 3
my_float = 6
my_division = my_float / my_integer
print(my_division)

In [ ]:
a = 3
b = 2
print(a * b)

Practice: 

Make variables d and e, d is equal to 5, e is equal to 10. 

Print d - e without making a new variable

In [ ]:
d = 5
e = 10
print(d - e)

Practice:

Make variables my_num and my_other_num, set these variables to whatever number you want

Make a variable called quotient that is equal to my_num times my_other_num

print quotient - 1

In [ ]:
my_num = 10
my_other_num = 12
quotient = my_num * my_other_num
print(quotient - 1)

### Adding to a variable

Adding to an existing variable is easy

Lets say:

In [ ]:
a = 3

and we want to add 5. We could do it like this

In [ ]:
a += 5
print(a)

8

You can do this with other math operators too:

* += adds
* -= subtracts
* *= multiplies
* /= divides

In [ ]:
number = 24
divisor = 4
number /= divisor
print(number)

### Adding Strings and Numbers

We cannot add number and strings together as they are of different types. This doesn't work:

In [ ]:
# my_num = 3
# my_string = "4"
# print(my_num + my_string)

TypeError: ignored

This also doesn't work:

In [28]:
print("Your number is " + 3) # Also doesn't work

TypeError: ignored

Instead what we have to do is convert one or more of these values to ensure all operands (the values being operated on) are the same type

### Convert from strings to numbers
Use int() to convert a string to an integer (a number without a decimal)

In [ ]:
string_number = "4"
print(3 + int(string_number))

7

Use float() if your number has a decimal value

In [ ]:
string_decimal = "3.1"
print(1.1 + float(string_decimal))

You have to use a string that can give you a valid integer or float. Otherwise you get an error like this:

In [ ]:
# print(int("Bruh"))

ValueError: ignored

### Convert from numbers to string
Use str() to convert a number to a string

In [ ]:
print("Your number is " + str(3))

This lets you do math and still add strings together

In [ ]:
a = 3
b = 4
print("Your sum is " + str(a + b))

### Getting Numbers with Input

By default, input() returns you a string value

In [ ]:
# print(1 + input()) # will give you an error
print(1 + int(input())) # Works

What does this code do?

In [ ]:
your_number = int(input())
print("1" + str(your_number) + "1")

## Boolean values

Boolean values are really simple. 


They're either True, or False

In [29]:
my_bool = True
my_false_bool = False
print(my_bool)
print(my_false_bool)

True
False

### Logical Operators

You can use "Logical Operators" to evaluate simple logic

The logical operators are and, or, not

Try them out:

In [ ]:
my_truth_value = True or False 
print(my_truth_value)

In [ ]:
my_truth_value = True and False 
print(my_truth_value)

In [ ]:
my_truth_value = not False 
print(my_truth_value)

You can also chain them together like so:

In [30]:
is_false = (True or False) and False
print(is_false)

False

What does this print?

In [37]:
a = False
b = True
print((a and b) or not (not a and not b))

True

### Conditional Operators:

These operators return true or false based on certain conditions

They are:

\> (greater than)

== (equal to)

< (less than)

<= (less than equal to)

\>= (greater than equal to)

!= (not equal to)

In [ ]:
a = 1
b = 2
print(a > b) # Prints False because 1 is not greater than 2

Practice: 

Make three variables and compare then with at least 4 different conditional operators and 2 different logical operators

At least one should print true and one should print false